<div class="container mt-5">
  <div class="col-md-6 d-flex justify-content-center">
    <div class="col-auto">
      *必填欄位
    </div>
    <div class="ml-0 col-auto text-align-center">
      <h3>請輸入你的支出</h3>
    </div>
  </div>

  <form action="/records" method="POST" class="mt-3">
    <div class="row mb-3">
      <label for="inputName" class="form-label col-12 col-md-2" style="font-size: 20px">名稱* :</label>
      <input type="string" class="form-control ml-2  col-12 col-md-8" name="name">
    </div>

    <form class="mt-3">
      <div class="row mb-3">
        <label for="inputDate" class="form-label col-12 col-md-2" style="font-size: 20px">日期* :</label>
        <input type="date" class="form-control ml-2  col-12 col-md-8" name="date">
      </div>


      <div class="row  mb-3">
        <label for="inputCategory" class="form-label col-12 col-md-2" style="font-size: 20px">類別* :</label>
        <select name="category" class="form-select form-control ml-2  col-12 col-md-8">
          {{!-- 為何自定義handlebars helper無法比較兩個變數? --}}
          <option>Select</option>
          {{#each categories}}
          <option>{{this.name}}</option>
          {{/each}}
        </select>
      </div>


      <form class="mt-3">
        <div class="row mb-3">
          <label for="inputAmount" class="form-label col-12 col-md-2" style="font-size: 20px">金額* :</label>
          <input type="number" class="form-control ml-2  col-12 col-md-8" name="amount">
        </div>

        <div class="col-12 mt-3 " style="text-align:center;">
          <button type="submit" class="btn btn-primary">新增支出</button>
        </div>
      </form>